@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
}